* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    border-bottom: 1px solid black;
    padding-top: 20px;
}

h2 {
    text-align: center;
    padding-top: 20px;
}

button {
    align-items: center;
}

p {
    padding: 30px;
}

#currency {
    /* border: 2px solid grey; */
   /*  margin-top: 60px; */ 
    width: 100vw;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    
}

#currency-content p {
    text-align: center;
}

#dolar {
    /* border: 2px solid grey; */
    height: 100px;
    width: 450px;
    text-align: center;
}

#dolar h3 {
    padding-top: 10px;
    padding-bottom: 10px;
}

#real {
    /* border: 2px solid grey; */
    height: 100px;
    width: 450px;
    text-align: center;
}

#real h3 {
    padding-top: 10px;
    padding-bottom: 10px;
}


