* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    padding: 1rem;
} */

header {
    background-color: rgb(177, 177, 78);
    color: black;
    height: 60px;
    text-align: center;
    padding-top: 10px;
    /* font-size: larger; */
}

#simple-modal-section {
    height: 100vh;
    width: 100vw;
    border: 1px solid red;
}

h2 {
    text-align: center;
    padding-top: 20px;
}

#simple-modal-button-container {
    border: 1px solid black;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#learn-more-btn {
    background-color: blue;
}

#simple-modal-card {
    border: 1px solid blue;
    height: 300px;
    width: 300px;
    background-color: #ccc;
    position: absolute;
    display: none;
}

#simple-card-close-x {
    text-align: end;
    font-size: larger;
    padding: 5px;
    cursor: pointer;
}

#simple-modal-card-heading {
    text-align: center;
    padding-top: 22px;
    padding-bottom: 25px;
    font-size: larger;
}

#simple-modal-card-paragraph {
    padding: 14px;
}

/* Two cards with simple modal (On Click) */

#two-cards-with-simple-modal-section {
    height: 100vh;
    width: 100vw;
    border: 2px solid blue;
}

#simple-modal-card-wrapper {
    border: 1px solid green;
    height: 500px;
}

#simple-modal-card-one {
    border: 1px solid red;
    background-color: red;
}

#simple-modal-card-two {
    border: 1px solid slateblue;
    background-color: slateblue;
}


/* Complex Modal section starts here */

#js-modal-section {
    height: 100vh;
    width: 100vw;
}

.reference-link {
    text-align: center;
}

.reference-link a {
    text-decoration: none;
}

button {
    padding: .6rem 1.2rem;
    background-color: #888;
    color: #fff;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    opacity: 0.9;
    font-size: 1rem;
    transition: 0.4s;
}

#open-modal {
    background-color: #007bff;
}

button:hover {
    opacity: 1;
}

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 500px;
    max-width: 90%;
    padding: 1.2rem;
    border-radius: 0.5rem;
    z-index: 10;
}

#fade, #modal {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.modal-body p {
    margin-bottom: 1rem;
}

#modal.hide, #fade.hide {
    opacity: 0;
    pointer-events: none;
}

#modal.hide {
    top: 0;
  }